{% extends 'network/homeLayout.html' %}
{% load static %}
{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div id="post-alert" class="alert alert-success"><strong>{{ message }}</strong></div>
{% endfor %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body" id="sidebar">
                <img class="profile-pic" src="{{user.profile.image.url}}" alt="Profile Pic" />
                <hr />
                <h4>
                    <a class="profile-link" href="{% url 'profile' user.id %}">{{ user.username }}</a>
                </h4>
                {% if user.profile.title %}
                <p>{{ user.profile.title }}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <div class="row" style="display: inline; margin: 8px">
                    <h5>Create A Post</h5>
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <textarea autofocus style="margin-bottom: 10px" name="post-content" class="form-control"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button class="btn btn-sm btn-primary">Post</button>
                    </form>
                </div>
            </div>
            <hr />
            {% for post, count, comments in posts %}
            {% include 'network/postView.html' %}
            {% endfor %}
        </div>
    </div>
    <div style="margin-top: 400px"></div>
</div>

{% endblock %}