{% extends 'network/homeLayout.html' %}

{% load static %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div id="password-reset-alert" class="alert alert-success"><strong>{{ message }}</strong></div>
{% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h5 class="mb-0">Change Password</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'passwordRest' profile.user.id %}">
                        {% csrf_token %}
                        <div class="passwordResetForm-container">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}